---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mike's Astro Site</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>Learn about Mike Jeffery, a front end web developer</h1>
		<h2>&hellip; and my new Astro Site</h2>
		<p>I'm Mike, a developer in North Reading, MA.</p>
		<p>I am working through Astro's intro tutorial. And listening to The Pietasters.</p>
		<p>This site will update as I complete more of the tutorial. Check back later to see my progress!</p>
	</body>
</html>
