---
import HeadImports from "../components/HeadImports.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<HeadImports />
		<title>{pageTitle}</title>
	</head>
		<body>
			<Header />
			<div class="site-width">
				<h1>{pageTitle}</h1>
			</div>
			<Footer />
	</body>
</html>
