---
import Navigation from "./Navigation.astro"
---
<header>
	<div class="site-width">
		<div class="h1">Mike's Astro Site</div>
		<p>Learning Astro, one page at a time.</p>
		<Navigation />
	</div>


</header>