---
import Navigation from "./Navigation.astro"
import ThemeIcon from './ThemeIcon.astro';
---
<header>
	<div class="site-width">
		<div class="h1">Mike's Astro Site</div>
		<p>Learning Astro, one page at a time.</p>
		<ThemeIcon />
		<Navigation />
	</div>
</header>